  .Content {
    background-color: white;
    width: 1440px;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}


header {
    width: 90%;
    margin: auto auto;
    padding-top: 40px;
  }
  
  .zero {
    width: 10%;
    display: inline-block;
  }
  
  .first-title {
    width: 75%;
    text-align: center;
    display: inline-block;
  }
  
  .zero-p{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #000000;
  }
  .social-icons {
      text-align: right;
      display: inline;
      }  
  
    .social-icons li {
      display:inline-block;
      list-style-type:none;
      /* -webkit-user-select:none;
      -moz-user-select:none; */
      }
  
    .social-icons li a {
      border-bottom: none;
      }
  
    .social-icons li img {
      width:30px;
      height:30px;
      margin-left: 10px;
      }


body {
    width: 1500px;
    margin: 0 auto;
}
.Top {
    background-color: black;
    padding-left: 50px;
}

.Top h1{
    font-size: 64px;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding-top: 50px;
    
}
.circles {
    display: flex;
}

.leftC h3 {
    display: inline-block;
    background-color: plum;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 52px;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    line-height: 100px;
    margin-top: 50px;
}

.leftC h3 a{
    text-decoration: none;
    color: white;
}

.leftC p{
    color: white;
    width: 400px;
    margin-top: 200px;
    font-family: sans-serif;
    line-height: 25px;
}

.rightC b {
    display: inline-block;
    background-color: plum;
    color: white;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    font-size: 82px;
    font-family: sans-serif;
    text-align: center;
    line-height: 320px;
    margin-left: 650px;
}
.rightC p {
    color: white;
    margin-left: -10px;
    margin-top: -250px;
    font-size: 14px;
    font-family: sans-serif;
    
}



.We {
    background-color: black;
    padding-left: 50px;
}

.We h1 {
    color: white;
    margin: 0;
    padding-top: 100px;
    font-size: 64px;
    font-family: sans-serif;
    width: 700px;
}

.We p {
    color: white;
    line-height: 35px;
    font-size: 16px;
    width: 1450px;
    margin-top: 30px;
    margin-bottom: 0;
}




.Girlwithlist {
    display: flex;
    background-color: black;
    margin: 0;
    padding-top: 200px;
}

.photo {
    width: 800px;
    height: auto;
}

.SecondColumn  li{
    display: flex;
    width: 600px;
    margin-top: 50px;

}

.SecondColumn picture {
    width: 75px;
    height: 75px;
    background-color: plum;
    border-radius: 50%;
    display: inline-block;
   
}

.SecondColumn img {
   padding: 15px;
}

img.lastimg {
    width: 40px;
    height: 40px;
}

.SecondColumn h3{
    color: white;
    margin-left: 50px;
    font-size: 32px;
    font-family: sans-serif;

}

.SecondColumn p {
    color: grey;
    width: 450px;
    margin-left: 50px;
}




.RoseBlock {
    background-image: url("../img/backgroundPage2.jpg");
    width: auto;
    height: 750px;
    padding: 50px;
}

.RoseBlock h1{
    font-size: 64px;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding-top: 25px;
    width: 900px;
}

.firstRow {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    background-color: plum;
    padding-left: 25px;
    padding-bottom: 100px;
    padding-top: 50px;

}

.secondRow {
    display: flex;
    justify-content: space-around;
    background-color: plum;
    padding-left: 25px;
    padding-bottom: 100px;
    padding-top: 50px;
}


.firstRow p, .secondRow p{
    
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    margin: 0;
    line-height: 70px;
    font-weight: 600;
}


.firstRow b, .secondRow b {
    color: white;
    width: 100px;
    line-height: 25px;

}

.firstRow2 {
    color: white;
    width: 800px;
    margin-left: 40px;
    margin-right: 40px;

}

.firstRow4 {
    color: white;
    width: 800px;
    margin-left: 40px;
    margin-right: 40px;

}




.SocialMedia {
    background-color: black;
    width: auto;
    height: 550px;
    padding: 75px;    
}

.SocialRow1{
    display: flex;
    justify-content: space-around;
}

.portret1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.data1 h3 {
    color: white;
    font-size: 21px;
    text-align: center;
}

.data1 p {
    color: white;
    width: 320px;
    text-align: center;
}

.data1 img {
    width: 35px;
    height: 35px;
    display: flex;
    
}

.contacts1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.SocialRow2 {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}


.bottom {
    background-color: black;
    width: auto;
    height: 350px;
    padding: 50px;
}

.bottom img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
    
}


.bottom h1{
    color: white;
    margin: 0;
    padding-top: 25px;
    font-size: 64px;
    font-family: sans-serif;    
}

.bottom p{
    color: white;
    margin: 0;
    padding-top: 5px;
    font-size: 19px;
    font-family: sans-serif; 
    width: 1000px;   
    line-height: 35px;
}
    

.lastBlock {
    width: auto;
    height: 490px;
    background-color: black;
    margin: 0;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
}

.leftlist {
    color: white;
    width: 500px;
    height: 400px;
    font-size: 22px;
    line-height: 45px;
    font-family: sans-serif;
}

.rightlist {
    color: white;
    width: 500px;
    height: 400px;
    font-size: 22px;
    line-height: 45px;
    background-color: plum;
    font-family: sans-serif;
    
}

.rightlist ol, .leftlist ol{
    margin: 0;
    padding: 65px;
    padding-left: 40px;
    list-style: none;
    
}

.rightlist ol b, .leftlist ol b{
    font-weight: 800;
}


